<h1>Virtual Scroll</h1>
<hr>


<div class="row mb-5">
    <div class="col">
        <button class="btn btn-primary" (click)="irFinal()">
          Ir al final
        </button>
        <button class="btn btn-primary float-left mr-3" (click)="irInicio()">
          Ir al inicio
        </button>
    </div>
</div>
<cdk-virtual-scroll-viewport itemSize="50" class="list-container list-group">

    <div class="list-group-item animated fadeInDown faster" *cdkVirtualFor="let persona of personas; let i = index; let c = count">
        item: {{i}} / {{c}}
    </div>

</cdk-virtual-scroll-viewport>